.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 80px;
  z-index: 50;
  background-color: #c6cdc6;
}
.header > div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}
.header nav ul {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header nav ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100px;
  font-weight: 700;
  text-transform: uppercase;
}
.header h1 a {
  cursor: pointer;
  font-family: "Poetsen One", sans-serif;
}
