.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.mainfirst {
  background-color: #c6cdc6;
}
.title {
  letter-spacing: 8px;
  font-size: 62px;
  font-family: "Poetsen One", sans-serif;
}
.title p {
  letter-spacing: 16px;
  font-size: 82px;
  font-family: "Poetsen One", sans-serif;
}
.search {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 50px 0 80px;
  border-bottom: 2px solid #000;
}
.search input {
  width: 100%;
  height: 100%;
  font-size: 28px;
  padding-right: 150px;
  background: transparent;
}
.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
/* second */
.mainsecond {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 100px;
  padding-bottom: 80px;
  border-bottom: 1px solid #000;
  margin-top: -100px;
}
.infoText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 230px;
  margin-bottom: 100px;
}
.infoText h3 {
  font-size: 32px;
}
.infoText p {
  word-break: keep-all;
  line-height: 24px;
}
.infoList {
  display: flex;
  align-items: center;
  gap: 30px;
  width: calc(100% - 230px);
  height: 540px;
}
.infoList > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.infoList :global(.list_img) {
  flex: 1;
  height: 100%;
  overflow: hidden;
  background-color: rgb(248, 248, 248);
}
.infoList :global(.list_img) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infoList :global(.list_name) {
  width: 100%;
}
.infoList :global(.list_name) p {
  font-size: 24px;
  font-weight: 600;
  word-break: keep-all;
}
.listInfo {
  margin-top: 10px;
}
.listInfo > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listInfo > div p:first-of-type {
  font-size: 20px;
  color: #585858;
}
.listInfo > div p:last-of-type {
  font-size: 16px;
  color: #acacac;
}
.listInfo ul {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.listInfo ul li {
  position: relative;
  padding-left: 18px;
  color: #585858;
}
.listInfo ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-60%);
  width: 10px;
  height: 10px;
  background-color: #ffbe61;
  border-radius: 100%;
}
.listInfo ul li:first-of-type:before {
  background-color: #7aca25;
}
.listInfo ul li:last-of-type:before {
  background-color: #f14647;
}
/* third */
.mainthird {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
  padding: 80px 20px;
  border-bottom: 1px solid #000;
}
.rankerList {
  display: flex;
  align-items: center;
  gap: 20px;
  width: calc(100% - 230px);
  height: 400px;
}
.topRanker {
  flex: 2 !important;
  display: flex;
  flex-direction: row !important;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.topRanker > div {
  flex: 1;
  height: 100%;
  background-color: pink;
}
.otherRanker {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}
.otherRanker > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: pink;
  border-bottom: 1px solid #000;
}
.otherRanker :global(.ranker_img) {
  width: 80px;
  height: 80px;
  background-color: red;
}
/* mainfourth */
.mainfourth {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 20px;
  border-bottom: 1px solid #000;
}
.fourthLeft {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
.fourthLeft :global(.fourth_title) {
  font-size: 64px;
  background-color: pink;
}
.fourthLeft :global(.fourth_info) {
  display: flex;
  padding: 40px 0;
  margin-top: 10px;
  background-color: pink;
}
.mainfourth :global(.recipes_img) {
  width: 400px;

  height: 400px;
  background-color: pink;
}
/* mainfifth */
.mainfifth {
  padding: 80px 20px;
}
